node_modules/
frontend/node_modules/
backend/node_modules/
.env
*.local
*.log
dist/
build/
.vscode/
.DS_Store
backend/emails.db
/*.zip
/.cache
backend/node_modules/
backend/.env
backend/db/*.db
backend/db/*.sqlite
backend/db/*.sqlite3
backend/db/attachments/
*.db
backend/db/emails.db
